body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #041702;
}

a {
    color: #041702;

    &:hover {
        color: #041702;
    }
}

.btn {
    background: #F98816;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

main {
    background: #FBFBFB;
}

.navbar {
    padding: 20px 2px 36px 0px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.navbar__items {
    display: flex;
    position: relative;

    .nav-item.active {
        border-bottom: 2px solid #57A84D;
    }
}

.login__img {
    margin-right: 10px
}

.mobile__items {
    flex-direction: column;
    position: fixed;
    min-width: 262px;
    right: -262px;
    z-index: 100;
    top: 0;
    background-color: #FBFBFB;
    box-shadow: -5px 4px 27px rgba(4, 23, 2, 0.07);
    border-radius: 0px 0px 0px 6px;
    padding: 76px 50px 24px 24px;
    transition: .3s all;
    overflow-y: auto;

    &.show {
        right: 0;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        min-width: 100%;
        margin: 0;
        border-bottom: 1px solid rgba(83, 96, 82, 0.26);
        transition: .5s all;

        &:hover {
            background: linear-gradient(90deg, rgba(207, 211, 207, 0.066) 0%, rgba(207, 211, 207, 0.33) 35.34%, rgba(207, 211, 207, 0.33) 68.52%, rgba(207, 211, 207, 0.066) 100%);
            transition: .5s all;
        }

        &:last-child {
            border-bottom: 1px solid transparent;
        }
    }

    .navbar-toggler {
        right: 65px;
    }
}

.nav-item {
    font-size: 0.95rem;
    margin-right: 40px;
}

.jumbotron {
    background: linear-gradient(90deg, #F8FDFF 0%, #FEFDFE 100%);
    padding: 4.5rem 0 3rem;

    img {
        background-size: contain;
        max-width: 538px;
        width: 538px;
        top: 17px;
        position: relative;
        right: 75px;
    }

    h1 {
        font-weight: 700;
    }

    ul {
        margin: 35px 0;
    }

    li {
        font-size: 16px;
        margin-bottom: 15px;
    }

    li {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .btn {
        padding: 13px 60px;
        color: #fff;
        font-weight: 700;

        &:hover {
            background-color: #032BBB;
        }
    }
}

.navbar-toggler {
    border: none;
    top: 16px;
    position: absolute;
    right: 32px;
    display: none;
    flex-direction: column;
}

.navbar-toggler-icon {
    position: absolute;
    border-bottom: 2px solid #041702;

    &:first-child {
        top: -5px;
    }

    &:last-child {
        bottom: -35px;
    }
}

.job__cards {
    margin-top: 32px;
    margin-bottom: 62px;
}

.job__card {
    min-width: 260px;

    h2 {
        font-size: 20px;
        font-weight: 500;
    }

    ul {
        margin-bottom: 44px;

        li {
            position: relative;
            font-size: 15px;
            margin-bottom: 5px;

            &::after {
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #F98816;
                content: '';
                left: -14px;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.card_item {
    box-shadow: -5px 4px 27px rgba(4, 23, 2, 0.03);
    border-radius: 6px;
    padding: 40px 0px 40px 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job__conditions {
    background: #ECF2FF;
    border-radius: 6px;
    align-items: flex-start;
    padding-left: 39px;
    max-height: 260px;

    min-height: none;
    max-height: none;
    height: auto;

    &.card_item {
        margin-bottom: 24px;
        min-height: 228px;
        height: 190px;
        padding: 30px 24px 24px;
        min-height: none;
        max-height: none;
        height: auto;
    }

    h2 {
        font-size: 16px;
    }

    ul li {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 20px;
    }

    ul {
        padding-left: 18px;
        margin: 14px 0 0;

        li {
            position: relative;
            font-size: 15px;
            margin-bottom: 16px;

            &::after {
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #F98816;
                content: '';
                left: -14px;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.job__card-hover {
    background-color: #E9EEF8;
    transition: .3s all;
}

.job__card-btn {
    background-color: #F98816;
    color: #fff;
    padding: 12px 36px;
    font-size: 16px;

    &:hover {
        background-color: #032BBB;
        color: #fff;
    }
}

.job {
    margin-top: 60px;
    margin-bottom: 60px;

    .display-5 {
        font-size: 36px;
        font-weight: 600;
    }
}

.job__img {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #C7DAFF;
    border-radius: 50%;
    margin: 13px 0 27px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer__data {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.footer__worker {
    text-align: end;

    span:last-child {
        margin-left: 66px;
    }
}

.basement {
    margin-bottom: 21px;
    color: rgba(4, 23, 2, 0.6);
}

.mobile_bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.07);
    z-index: 10;
    overflow: auto;
    overflow-y: scroll;

    &.visible {
        display: block;
    }
}

@media (max-width: 10000px) {
    .container {
        min-width: 93%;
        width: 95%;
        padding-right: 12px;
        padding-left: 17px;
    }
}

@media (max-width: 1279px) {
    .brand__img {
        width: 144px;
    }

    .nav-item {
        margin-right: 20px;

        a {
            font-size: 14px;
        }
    }

    .login {
        font-size: 14px;
    }

    .navbar {
        padding: 20px 16px 32px 10px;
    }

    .container {
        min-width: 100%;
    }

    .jumbotron {
        h1 {
            font-size: 32px;
        }

        img {
            width: inherit;
        }

        .btn {
            padding: 13px 50px;
            font-size: 18px;
        }
    }

    .job__card {
        min-width: 205px;

        h2 {
            font-size: 18px;
        }

        ul {
            padding: 0 30px;

            li {
                font-size: 14px;
            }
        }
    }

    .job {
        .display-5 {
            font-size: 28px;
        }
    }

    .card_item {
        font-size: 14px;
        padding: 32px 0px 32px 9px;
    }

    .job__conditions {
        ul li {
            margin-bottom: 13px;
        }

        &.card_item {
            padding: 32px 0 0 32px;
            min-height: 281px;
        }
    }
}



@media (max-width: 1024px) {
    .navbar__items {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .container {
        min-width: 95%;
    }
}

@media (max-width: 969px) {
    .jumbotron {
        h1 {
            font-size: 26px;
        }

        li {
            font-size: 13px;
            margin-bottom: 12px;
        }

        ul {
            margin: 24px 0;
        }

        .btn {
            padding: 10px 40px;
            font-size: 15px;
        }
    }

    .basement {
        font-size: 13px;
    }

    .job {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

@media (max-width: 768px) {
    .job__col {
        margin-bottom: 24px;
    }
}

@media (max-width: 639px) {
    .brand__img {
        width: 104px;
    }

    .navbar {
        padding: 6px 0 11px;
    }

    .navbar-toggler {
        top: -4px;
        right: 16px;
    }

    .navbar-toggler-icon {
        width: 22px;
    }

    .jumbotron {
        .btn {
            padding: 8px 26px;
            font-size: 14px;
        }
    }

    .job {
        .display-5 {
            font-size: 18px;
        }
    }

    .job__card-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .footer__worker {
        span:last-child {
            margin-left: 0;
        }
    }

    .mobile__items {
        min-width: 184px;

        .navbar-toggler {
            right: 34px;
        }
    }
}


@media (max-width: 575px) {
    .jumbotron {
        img {
            right: 36px;
            top: 158px;
        }

        h1 {
            font-size: 21px;
        }

        ul {
            margin: 20px 0;
        }
    }

    .container {
        padding-right: 7px;
        padding-left: 7px;
    }

    .job__col {
        margin-bottom: 10px;
    }

    .footer__worker {
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 475px) {
    .jumbotron__items {
        display: flex;
        flex-direction: column;
    }

    .jumbotron__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .jumbotron {
        padding: 26px 0 10px;

        img {
            max-width: 150px;
            top: -38px;
            right: -139px;
        }
    }

    .job {
        margin-top: 30px;
        margin-bottom: 30px;

        .display-5 {
            font-size: 18px;
        }
    }

    .job__cards {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__worker {
        font-size: 11px;
    }
}